<div>
  <label for="">Name</label>
  {{input value=name}}
</div>
<div>
  <label for="">Username</label>
  {{input value=username}}
</div>
<div>
  <label for="">Email</label>
  {{input value=email}}
</div>
<div>
  <label for="">Bio</label>
  {{input value=bio}}
</div>
<div>
  <label for="">Birthday</label>
  {{input value=birthday}}
</div>
<div>
  <label for="">Location</label>
  {{input value=location}}
</div>

<button type="submit" {{action save this}}>Save</button>
<button type="submit" {{action cancel this}}>Cancel</button>
