<h3>{{id}}</h3>

<p>{{link-to 'Edit' 'users.edit' this}} <button {{action destroyRecord this}}>Destroy</button></p>

<ul>
  <li>Name: {{name}}</li>
  <li>Username: {{username}}</li>
  <li>Email: {{email}}</li>
  <li>Bio: {{bio}}</li>
  <li>Birthday: {{birthday}}</li>
  <li>Location: {{location}}</li>
</ul>
